.message-output {
    /* background-color: red; */
    width: 100%;
    height: 90%;
    border-left: 1px solid #135D66;
    border-right: 1px solid #3C5B6F;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* align-items: baseline; */
    flex-direction: column;
}