.contact {
    display: flex;
    flex-direction: column;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    padding: 5px 5px 5px 16px;
    color: #070F2B;
    min-height: 3rem;
}

.contact:hover {
    opacity: .8;
    cursor: pointer;
}

.contact-name {
    flex-grow: 1;
    font-weight: 700;
}