.message {
    padding: 5px;
    max-width: 50%;
    margin-bottom: 10px;
}

.message-date {
    font-size: .7rem;
    color: #fefefe;
    display: block;
    padding: .1rem;
}

.user-message {
    align-self: flex-start;
    background-color: #5E7D8F;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.contact-message {
    align-self: flex-end;
    background-color: #135D66;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}